* {
    margin:0;
    padding:0;
    background-color: black;
}

.advertisement-image{
    width: 100%;
}

nav {
    width: 100%;
    border-bottom: 1px solid rgba(248,244,244,.6);
    top:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width:60%;
}

.nav-bar{
    display: flex;
    width: 40%;
    justify-content: space-around;
}

input.search-input {
    height: 48px;
    border: 1px solid white;
    border-radius: 14px;
    width: 253px;
}

img.magnifying-glass {
    position: absolute;
    right: 7px;
    width: 36px;
    top: 7px;
}

img.logo-image {
    width: 17%;
    margin-left: 11px;
}

p.category-text {
    color: white;
}

.category-div {
    display: flex;
}

p.category-text {
    color: white;
    position: absolute;
    top: 25px;
    right: 293px;
}

.search-input-div {
    right: 409px;
    position: absolute;
}