* {
    margin:0;
    padding:0;
    background-color: black;
}

.advertisement-image{
    width: 100%;
    position:absolute;
}

nav {
    width: 100%;
    border-bottom: 1px solid rgba(248,244,244,.6);
    top:0;
    top: 0;
    display: flex;
    position: absolute;
    align-items: center;
}

.logo {
    width: 50%;
    margin-left: 10px;
}
.nav-bar {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}
.categories-div {
    display: flex;
    align-items: center;
}
p.categories-text {
    color: white;
}
.favorites-div{
    display: flex;
    align-items: center;
}
.favorites-text{
    color:white;
}
input.search-input {
    height: 48px;
    border: 1px solid white;
    border-radius: 14px;
    width: 319px;
    background: none;
}

img.magnifying-glass {
    position: absolute;
    width: 36px;
    top: 20px;
    right: 323px;
}
img.logo-image {
    width: 129px;
    margin-top: 10px;
}
img.favorites-heart {
    margin-left: 10px;
}

.line-div {
    position: absolute;
    top: 81px;
    width: 100%;
    display: flex;
    justify-content: center;
}

hr.line {
    width: 95%;
} 